<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <renderContentEditor>
                <processor patch:before="*[1]" type="Knights.Foundation.KeywordFieldHelper.Processors.InjectScripts, Knights.Foundation.KeywordFieldHelper" />
            </renderContentEditor>
            <initialize>
                <processor type="Knights.Foundation.KeywordFieldHelper.Processors.RegisterApiRoutes, Knights.Foundation.KeywordFieldHelper" />
            </initialize>
        </pipelines>
        <settings>
            <setting name="CustomContentEditorJavascript" value="/sitecore modules/EasyAutocomplete/jquery.easy-autocomplete.min.js|/sitecore modules/KeywordFieldHelper/keywordfieldhelper.js"/>
            <setting name="CustomContentEditorStylesheets" value="/sitecore modules/EasyAutocomplete/easy-autocomplete.min.css"/>
            <setting name="KeywordSuggestionsProvider.Google.Url" value="https://www.google.com/complete/search?output=toolbar&amp;q={0}&amp;hl={1}" />
            <setting name="KeywordsEverywhere.Api.Url" value="https://keywordseverywhere.com/service/4/getKeywordData.php" />

            <!-- You can get free API key here: https://keywordseverywhere.com/first-install-addon.html -->
            <setting name="KeywordsEverywhere.Api.Key" value="3742529acb5d6131a9ef" />

            <!--
                Leave it empty for global ranking.
                
                Australia:      au
                Canada:         ca
                India:          in
                New Zealand:    nz
                South Africa:   za
                United Kingdom: uk
                United States:  us
            -->
            <setting name="KeywordsEverywhere.Api.Country" value="" />

            <!--
                Leave it empty for US dollar (by default). 
                Otherwise provide 3 letter ISO currency code lowercase.
                For example: eur, cad, gbp
            -->
            <setting name="KeywordsEverywhere.Api.Currency" value="" />
            <setting name="KeywordsEverywhere.Api.Source" value="gsearc" />
        </settings>
        <services>
            <configurator type="Knights.Foundation.KeywordFieldHelper.Services.ServicesConfiguration, Knights.Foundation.KeywordFieldHelper"/>
            <register serviceType="Knights.Foundation.KeywordFieldHelper.Services.IKeywordSuggestionsProvider, Knights.Foundation.KeywordFieldHelper"
                      implementationType="Knights.Foundation.KeywordFieldHelper.Services.GoogleKeywordSuggestionsProvider, Knights.Foundation.KeywordFieldHelper" />
            <register serviceType="Knights.Foundation.KeywordFieldHelper.Services.IKeywordRankingProvider, Knights.Foundation.KeywordFieldHelper"
                      implementationType="Knights.Foundation.KeywordFieldHelper.Services.KeywordsEverywhereKeywordRankingProvider, Knights.Foundation.KeywordFieldHelper" />
            <register serviceType="Knights.Foundation.KeywordFieldHelper.Services.IKeywordHelperService, Knights.Foundation.KeywordFieldHelper"
                      implementationType="Knights.Foundation.KeywordFieldHelper.Services.KeywordHelperService, Knights.Foundation.KeywordFieldHelper" />
        </services>
        <controlSources>
            <source mode="on" namespace="Knights.Foundation.KeywordFieldHelper.Fields" assembly="Knights.Foundation.KeywordFieldHelper" prefix="knights" />
        </controlSources>
    </sitecore>
</configuration>
