<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <renderContentEditor>
                <processor patch:before="*[1]" type="Knights.Feature.KeywordFieldHelper.Processors.InjectScripts, Knights.Feature.KeywordFieldHelper" />
            </renderContentEditor>
        </pipelines>
        <settings>
            <setting name="CustomContentEditorJavascript" value="/sitecore modules/EasyAutocomplete/jquery.easy-autocomplete.min.js|/sitecore modules/KeywordFieldHelper/keywordfieldhelper.js"/>
            <setting name="CustomContentEditorStylesheets" value="/sitecore modules/EasyAutocomplete/easy-autocomplete.min.css"/>
        </settings>
    </sitecore>
</configuration>
